@font-face {
  font-family: BauhausItalic;
  src: url(../assets/fonts/BauhausItalic.ttf);
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  display: block;
  font-family: "Bauhaus";
  font-size: 40px;
  letter-spacing: 0.09em;
  text-align: left;
  margin-bottom: 50px;
}

h3 {
  color: #D8D3CF;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  background-color: #242423;
  position: relative;
  max-width: 580px;
}
@media (max-width: 1240px) {
  h3 {
    font-size: 20px;
    max-width: 440px;
  }
}
@media (max-width: 1024px) {
  h3 {
    font-size: 18px;
    max-width: 340px;
  }
}
@media (max-width: 744px) {
  h3 {
    font-size: 15px;
    max-width: 200px;
    line-height: 23px;
  }
}
@media (max-width: 375px) {
  h3 {
    background-color: rgba(36, 36, 35, 0.6);
    font-size: 14px;
    max-width: 180px;
    letter-spacing: 0;
    line-height: 20px;
  }
}

a {
  font-family: Roboto;
  text-decoration: none;
  color: #D8D3CF;
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #242423;
  width: 100vw;
  color: #D8D3CF;
  font-family: Roboto;
  overflow-x: hidden;
  font-size: 16px;
}

header {
  background-color: #242423;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  border-bottom: 1px solid #F37935;
}

section {
  margin: 50px 0;
}

.link-btn {
  color: #242423;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Bauhaus";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  width: 192px;
  height: 60px;
  background: -o-linear-gradient(262.53deg, #F5CB5C 14.91%, #F37935 86%);
  background: linear-gradient(187.47deg, #F5CB5C 14.91%, #F37935 86%);
  -webkit-box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
@media (max-width: 744px) {
  .link-btn {
    font-size: 15px;
    width: 146px;
    height: 46px;
  }
}

.link-btn:hover {
  -webkit-transform: scale(0.93);
      -ms-transform: scale(0.93);
          transform: scale(0.93);
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  background: -o-linear-gradient(262.53deg, #F5CB5C 14.91%, #EB5E28);
  background: linear-gradient(187.47deg, #F5CB5C 14.91%, #EB5E28);
}

.header__block {
  height: 90px;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 80px;
}
@media (max-width: 1440px) {
  .header__block {
    padding: 0 60px;
  }
}
@media (max-width: 1024px) {
  .header__block {
    max-width: 1024px;
    padding: 0 40px;
  }
}
@media (max-width: 744px) {
  .header__block {
    height: 70px;
    max-width: 744px;
  }
}
@media (max-width: 430px) {
  .header__block {
    height: 55px;
    max-width: 430px;
    padding: 0 20px;
  }
}
@media (max-width: 320px) {
  .header__block {
    max-width: 320px;
    padding: 0 10px;
  }
}
.header__block-logo {
  height: 46px;
  width: 248px;
}
@media (max-width: 430px) {
  .header__block-logo {
    width: 180px;
    height: 40px;
  }
}
.header__block-logo img {
  width: 100%;
}
.header__block-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 680px;
}
@media (max-width: 1239px) {
  .header__block-lists {
    width: 500px;
  }
}
@media (max-width: 744px) {
  .header__block-lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 5vw;
    row-gap: 20px;
  }
}
@media (max-width: 1239px) {
  .header__block-lists li {
    font-size: 16px;
  }
}
@media (max-width: 744px) {
  .header__block-lists li {
    font-size: 22px;
  }
}
.header__block-lists li:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.header__block-lists li:hover a:hover {
  color: #F37935;
  text-decoration: underline;
}

.header__block-taplink ul {
  display: none;
  max-width: 300px;
  position: absolute;
  margin-left: -20px;
  font-size: 16px;
  padding: 15px;
  z-index: 11;
  background-color: #242423;
}

.header__block-taplink:hover ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: column;
  gap: 20px;
  border-radius: 30px;
}
@media (max-width: 1024px) {
  .header__block-taplink:hover ul {
    border-radius: 0px;
    border: 1px solid #F37935;
    display: none;
  }
}

.header__block-underlist:hover a {
  color: #F37935;
}

.burger {
  display: none;
  width: 60px;
  height: 36px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 0px;
  background: url("../assets/icon/burger.svg");
  border: none;
  z-index: 11;
}
@media (max-width: 1024px) {
  .burger {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: block;
  }
}
@media (max-width: 430px) {
  .burger {
    background-size: cover;
    width: 44px;
    height: 26px;
  }
}

.burger:hover {
  cursor: pointer;
}

.close {
  display: none;
  width: 40px;
  height: 40px;
  margin: 0 20px 20px 0px;
  background: url("../assets/icon/burger-close.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .close {
    display: block;
    position: absolute;
    right: 20px;
    border: none;
  }
}
@media (max-width: 430px) {
  .close {
    background-size: contain;
    width: 30px;
    height: 30px;
  }
}

.close:hover {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .navigation__header {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    top: 0px;
    left: 5px;
    z-index: 12;
    background: #242423;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
         -o-transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
            transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
    -webkit-transform: translateX(1000px);
        -ms-transform: translateX(1000px);
            transform: translateX(1000px);
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    padding: 30px;
  }
}

.navigation__header.show {
  -webkit-transform: translateX(0vw);
      -ms-transform: translateX(0vw);
          transform: translateX(0vw);
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.home__subheader {
  max-width: 1440px;
  position: relative;
  top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
}
@media (max-width: 744px) {
  .home__subheader {
    top: 0px;
  }
}
@media (max-width: 390px) {
  .home__subheader {
    top: 0px;
  }
}
.home__subheader img {
  position: relative;
  width: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 744px) {
  .home__subheader img {
    width: 200%;
  }
}
.home__subheader-content {
  position: absolute;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0px;
  top: 200px;
  padding: 0 80px;
}
@media (max-width: 1440px) {
  .home__subheader-content {
    padding: 0 60px;
    height: 50%;
    top: 150px;
  }
}
@media (max-width: 1024px) {
  .home__subheader-content {
    padding: 0 40px;
    height: 60%;
    top: 100px;
  }
}
@media (max-width: 430px) {
  .home__subheader-content {
    padding: 0 20px;
    height: 60%;
  }
}
@media (max-width: 390px) {
  .home__subheader-content {
    padding: 0 10px;
    height: 60%;
  }
}
@media (max-width: 375px) {
  .home__subheader-content {
    padding: 0 10px;
    height: 60%;
    top: 80px;
  }
}
.home__subheader-btns {
  max-width: 460px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__services {
  max-width: 1440px;
  padding: 0 80px;
}
.home__services-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 56px;
}
@media (max-width: 1024px) {
  .home__services-grid {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 30px;
  }
}
.home__services-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 210px;
  height: 210px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(36, 36, 35, 0.8);
  border: 1px solid #D8D3CF;
  -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25), 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25), 2px 2px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 20px;
  padding: 22px;
  text-align: center;
}
@media (max-width: 1024px) {
  .home__services-card {
    width: 180px;
    height: 190px;
  }
}/*# sourceMappingURL=style.css.map */