$white: #FBFEFB
$mdgrey: #333533
$black: #242423
$yellow: #F5CB5C
$orange: #F37935
$bege: #D8D3CF

@font-face
	font-family: BauhausItalic
	src: url(../assets/fonts/BauhausItalic.ttf)

*
	box-sizing: border-box
	margin: 0
	padding: 0
body
	width: 100vw
	font-family: Roboto
input
	margin: 0
	padding: 0
	outline: none
input:autofill, input:autofill:focus, input:autofill:hover
	transition: background-color 5000s ease-in-out 0s
	-webkit-text-fill-color: $black
h2
	display: block
	font-family: 'Bauhaus'
	font-size: 40px
	letter-spacing: 0.09em
	text-align: left
	margin: 50px 0px
	@media (max-width: 1240px)
		font-size: 36px
	@media (max-width: 1024px)
		margin: 20px 0px
		font-size: 28px
		margin-bottom: 40px
	@media (max-width: 390px)
		font-size: 22px
		margin-bottom: 30px 0px
	@media (max-width: 390px)
		margin: 20px 0px
		line-height: 28px
h3
	color: $bege
	font-family: 'Roboto'
	font-style: normal
	font-weight: 400
	font-size: 24px
	line-height: 33px
	letter-spacing: 0.05em
	background-color: #242423
	position: relative
	max-width: 580px
	@media (max-width: 1240px)
		font-size: 20px
		max-width: 440px
	@media (max-width: 1024px)
		font-size: 18px
		max-width: 340px
	@media (max-width: 744px)
		font-size: 18px
		max-width: 60%
		line-height: 23px
	@media (max-width: 450px)
		font-size: 16px
		max-width: 52%
	@media (max-width: 390px)
		font-size: 15px
	@media (max-width: 375px)
		background-color: rgba(36, 36, 35, 0.6)
		font-size: 14px
		letter-spacing: 0
		line-height: 20px
		margin-top: 25px
a
	font-family: Roboto
	text-decoration: none
	color: $bege
	text-decoration: none
li
	list-style-type: none
body
	display: flex
	align-items: center
	flex-direction: column
	background-color: $black
	width: 100vw
	color: $bege
	font-family: Roboto
	overflow-x: hidden
	font-size: 16px
	font-weight: 300
header
	background-color: $black
	position: fixed
	top: 0
	z-index: 10
	width: 100vw
	border-bottom: 1px solid $orange
	border-image: linear-gradient(238.23deg, #F5CB5C 6.01%, #EB5E28 98.62%)
	border-image-slice: 1
section
	display: flex
	justify-content: center
	width: 100vw
	margin: 40px auto
	@media (max-width: 1024px)
		margin: 40px 0
	@media (max-width: 559px)
		margin: 15px 0
.link-btn
	color: $black
	display: flex
	align-items: center
	justify-content: center
	font-family: 'Bauhaus'
	font-style: normal
	font-weight: 500
	font-size: 18px
	width: 184px
	height: 56px
	background: linear-gradient(187.47deg, #F5CB5C 14.91%, #F37935 86%)
	box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25)
	border-radius: 34.5px 0px
	@media (max-width: 1024px)
		font-size: 16px
		width: 168px
		height: 47px
	@media (max-width: 744px)
		font-size: 16px
		width: 170px
	@media (max-width: 390px)
		width: 150px
		font-size: 15px
		height: 44px
		border-radius: 25px 0px
.link-btn:hover
	transform: scale(1.05)
	transition-duration: 0.2s
	background: linear-gradient(187.47deg, #F5CB5C 14.91%, #EB5E28)
.header__block
	height: 90px
	max-width: 1440px
	margin: 0 auto
	position: relative
	display: flex
	justify-content: space-between
	align-items: center
	padding: 0 80px
	@media (max-width: 1440px)
		padding: 0 60px
	@media (max-width: 1024px)
		max-width: 1024px
		padding: 0 40px
	@media (max-width: 744px)
		height: 70px
		max-width: 744px
	@media (max-width: 430px)
		height: 55px
		max-width: 430px
		padding: 0 20px
	@media (max-width: 320px)
		max-width: 320px
		padding: 0 10px
	&-logo
		height: 46px
		width: 248px
		@media (max-width: 1024px)
			width: 220px
		@media (max-width: 430px)
			width: 200px
			height: 40px
		@media (max-width: 320px)
			width: 180px
			height: 33px
		img
			width: 100%
	&-lists
		display: flex
		justify-content: space-between
		width: 500px
		@media (max-width: 1200px)
			width: 400px
		@media (max-width: 744px)
			flex-direction: column
			margin-left: 5vw
			row-gap: 20px
		li
			@media (max-width: 1239px)
				font-size: 16px
			@media (max-width: 744px)
				font-size: 22px
		li:hover
			transform: scale(1.05)
			a:hover
				color: $orange
.header__block-taplink
	ul
		display: none
		max-width: 300px
		position: absolute
		margin-left: -20px
		font-size: 16px
		padding: 15px
		z-index: 11
		background-color: $black
.header__block-taplink:hover
	ul
		display: flex
		flex-direction: column
		flex-direction: column
		gap: 20px
		border-radius: 30px
		@media (max-width: 1024px)
			border-radius: 0px
			border: 1px solid $orange
			display: none
.header__block-underlist:hover
	a
		color: $orange
.header__block-button
	background: $black
	color: $bege
	border: 1px solid $bege
	font-weight: 100
	font-style: unset
	@media (max-width: 744px)
		display: none
.header__block-button:hover
	background: $bege
	color: $black
	transform: scale(1.03)
	transition-duration: 0.2s
.burger
	display: none
	width: 60px
	height: 35px
	background-size: contain
	background-repeat: no-repeat
	border-radius: 0px
	background: url("../assets/icon/burger.svg")
	border: none
	z-index: 11
	@media (max-width: 1024px)
		order: 3
		display: block
	@media (max-width: 430px)
		background-size: cover
		width: 44px
		height: 26px
.burger:hover
	cursor: pointer
.close
	display: none
	width: 40px
	height: 40px
	margin: 0 20px 20px 0px
	background: url("../assets/icon/burger-close.svg")
	background-size: contain
	background-repeat: no-repeat
	@media (max-width: 1024px)
		display: block
		position: absolute
		right: 20px
		border: none
	@media (max-width: 430px)
		background-size: contain
		width: 30px
		height: 30px
.close:hover
	cursor: pointer
.navigation__header
	@media (max-width: 1024px)
		position: fixed
		display: flex
		width: 100vw
		top: 0px
		left: 5px
		z-index: 12
		background: $black
		transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6)
		transform: translateX(1000px)
		transition: all 0.6s ease
		padding: 30px
.navigation__header.show
	transform: translateX(0vw)
	transition: all 0.6s ease
.home__subheader
	max-width: 1440px
	position: relative
	top: 40px
	display: flex
	justify-content: center
	align-items: center
	overflow-x: hidden
	@media (max-width: 744px)
		top: 0px
	img
		position: relative
		width: 100%
		z-index: -1
		object-fit: cover
		@media (max-width: 744px)
			width: 200%
	&-content
		position: absolute
		display: flex
		flex-direction: column
		justify-content: center
		left: 0px
		padding: 0 80px
		gap: 50px
		@media (max-width: 1440px)
			padding: 0 60px
		@media (max-width: 1024px)
			padding: 0 40px
			gap: 35px
		@media (max-width: 744px)
			padding: 0 10px
		@media (max-width: 530px)
			padding: 0 20px
			gap: 25px
		@media (max-width: 390px)
			padding: 0 10px
		@media (max-width: 345px)
			gap: 15px
	&-btns
		max-width: 460px
		position: relative
		display: flex
		justify-content: space-between
		align-items: center
.home__services
	position: relative
	max-width: 1440px
	padding: 0 80px
	overflow: hidden
	margin: 0 auto
	@media (max-width: 1440px)
		padding: 0 60px
	@media (max-width: 1024px)
		padding: 0 40px
	@media (max-width: 430px)
		padding: 0 20px
	@media (max-width: 390px)
		padding: 0 10px
	&-grid
		display: flex
		flex-wrap: wrap
		justify-content: center
		gap: 56px
		padding-bottom: 50px
		@media (max-width: 1440px)
			gap: 20px
			padding-bottom: 40px
		@media (max-width: 1024px)
			gap: 20px
			padding-bottom: 30px
		@media (max-width: 390px)
			gap: 15px
			padding-bottom: 20px
	&-card
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		justify-content: space-evenly
		width: 210px
		height: 210px
		box-sizing: border-box
		background: rgba(36, 36, 35, 0.4)
		border: 1px solid #D8D3CF
		box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25), 2px 2px 4px rgba(0, 0, 0, 0.25)
		backdrop-filter: blur(25px)
		border-radius: 15px
		padding: 22px
		text-align: center
		@media (max-width: 1289px)
			width: 180px
			height: 180px
			padding: 10px
		@media (max-width: 1139px)
			width: 150px
			height: 170px
			padding: 10px
		@media (max-width: 649px)
			display: flex
			flex-direction: row
			justify-content: flex-start
			align-content: center
			gap: 15px
			width: 90vw
			height: 80px
			font-size: 15px
			border-radius: 10px
			padding: 10px 20px
			text-align: left
			line-height: 18px
		// @media (max-width: 559px)
		// 	width: 37vw
		// 	height: 160px
		img
			@media (max-width: 1139px)
				width: 85%
			@media (max-width: 1024px)
				width: 80%
			@media (max-width: 649px)
				width: 80px
	&-card:hover
		cursor: pointer
		border-image: linear-gradient(238.23deg, #F5CB5C 6.01%, #EB5E28 98.62%)
		border-image-slice: 1
		img
			display: none
		div
			display: none
		p
			display: block
		a
			color: $yellow
			font-size: 15px
			display: flex
			align-items: center
			span
				font-size: 20px
				padding: 0 4px
	&-back
		display: none
		text-align: left
		font-size: 13px
		@media (max-width: 1139px)
			font-size: 12px
		a:hover
			color: $orange
.background-bokes
	position: relative
	overflow: hidden
	width: 100vw
	padding-top: 70px
	@media (max-width: 1139px)
		padding-top: 40px
	@media (max-width: 559px)
		padding-top: 30px
	@media (max-width: 320px)
		padding-top: 10px
.background
	position: absolute
	width: 100vw
	z-index: -1
.background span
	width: 20vmin
	height: 20vmin
	border-radius: 50vmin
	backface-visibility: hidden
	position: absolute
	animation-duration: 60s
	animation-timing-function: linear
	animation-iteration-count: infinite
.background span:nth-child(1)
	color: $orange
	width: 10vmin
	height: 10vmin
	top: 70%
	right: 40%
	animation-name: moveS
	animation-duration: 17.3s
	animation-delay: -5.4s
	transform-origin: 35vw -20vh
	box-shadow: 40vmin 0 12.3451104812vmin currentColor
	@media (max-width: 559px)
		width: 20vmin
		height: 20vmin
		top: -20%
		right: 40%
		transform-origin: 35vw -50vh
		box-shadow: 40vmin 0 16.3451104812vmin currentColor
.background span:nth-child(2)
	color: #F5CB5C
	top: 43%
	right: 56%
	animation-name: moveZ
	animation-duration: 17s
	animation-delay: -2.9s
	transform-origin: 45vw -24vh
	box-shadow: 50vmin 0 10.5216725246vmin currentColor
	@media (max-width: 559px)
		width: 20vmin
		height: 20vmin
		top: 4%
		right: 40%
		transform-origin: 35vw -40vh
		animation-duration: 20s
		box-shadow: 40vmin 0 16.3451104812vmin currentColor
.background span:nth-child(3)
	color: #F5CB5C
	width: 10vmin
	height: 10vmin
	top: 82%
	left: 27%
	animation-name: moveZ
	animation-duration: 54.8s
	animation-delay: -27.2s
	transform-origin: 2vw 0vh
	box-shadow: -40vmin 0 6.5865278986vmin currentColor
	@media (max-width: 559px)
		width: 20vmin
		height: 20vmin
		top: 80%
		right: 40%
		transform-origin: 12vw -36vh
		animation-duration: 10s
		box-shadow: 40vmin 0 12.3451104812vmin currentColor
.background span:nth-child(4)
	color: $orange
	width: 10vmin
	height: 10vmin
	top: 30%
	left: 90%
	animation-name: moveZ
	animation-duration: 55.1s
	animation-delay: -0.6s
	transform-origin: -5vw -4vh
	box-shadow: 40vmin 0 9.8063831834vmin currentColor
	@media (max-width: 559px)
		width: 20vmin
		height: 20vmin
		top: 80%
		right: 40%
		transform-origin: -5vw -36vh
		animation-duration: 10s
		box-shadow: 40vmin 0 12.3451104812vmin currentColor

.background span:nth-child(5)
	color: #F5CB5C
	top: -35%
	left: 59%
	animation-name: moveS
	animation-duration: 49.4s
	animation-delay: -56.4s
	transform-origin: 7vw -15vh
	box-shadow: -40vmin 0 8.0012269834vmin currentColor

.background span:nth-child(6)
	color: $yellow
	width: 10vmin
	height: 10vmin
	bottom: 20%
	right: -10%
	animation-name: moveZ
	animation-duration: 20s
	animation-delay: -1.4s
	transform-origin: 10vw 28vh
	box-shadow: 40vmin 0 11.9053170481vmin currentColor

.background span:nth-child(7)
	color: $orange
	top: 6%
	left: 48%
	animation-name: moveS
	animation-duration: 45.3s
	animation-delay: -10.5s
	transform-origin: 20vw -12vh
	box-shadow: -40vmin 0 8.8673108007vmin currentColor

@keyframes moveS
	100%
		transform: translate3d(0, 0, 1px) rotate(360deg)
@keyframes moveZ
	100%
		transform: translate3d(0, 0, 1px) rotate(-360deg)
.home__about
	position: relative
	max-width: 1440px
	padding: 0 80px
	margin-top: 80px
	@media (max-width: 1440px)
		padding: 0 60px
	@media (max-width: 1024px)
		padding: 0 40px
		margin-top: 40px
	@media (max-width: 559px)
		margin-top: 15px
		display: flex
		flex-direction: column
	@media (max-width: 430px)
		padding: 0 20px
	@media (max-width: 390px)
		padding: 0 10px
		margin-top: 40px
	h2
		margin-bottom: 20px
		@media (max-width: 1024px)
			margin-bottom: 15px
		@media (max-width: 390px)
			margin-bottom: 10px
			text-align: left
	h5
		color: rgba(245, 203, 92, 0.90)
		font-size: 20px
		font-family: Roboto
		font-weight: 500
		@media (max-width: 1240px)
			font-size: 18px
		@media (max-width: 1024px)
			font-size: 16px
		@media (max-width: 649px)
			max-width: 300px
		@media (max-width: 390px)
			font-size: 14px
			max-width: 260px
			margin: o auto
	&-grid
		display: flex
		align-items: center
		justify-content: space-between
		width: 100%
		position: relative
		top: -20px
		@media (max-width: 1024px)
			top: 30px
		@media (max-width: 649px)
			flex-direction: column
			top: 10px
	&-text
		font-weight: 300
		margin-left: 20px
		line-height: 1.3em
		@media (max-width: 1240px)
			font-size: 15px
			margin-left: 10px
		@media (max-width: 649px)
			font-size: 14px
		@media (max-width: 390px)
			font-size: 13px
		p
			padding-bottom: 15px
			text-align: right
			flex-direction: column
			text-align: left
			@media (max-width: 649px)
				text-align: justify
				width: 80vw
.about-rocket
	position: relative
	top: -60px
	@media (max-width: 1240px)
		width: 250px
	@media (max-width: 1024px)
		display: none
.about-img
	@media (max-width: 1240px)
		width: 200px
	@media (max-width: 649px)
		margin-bottom: 10px
	@media (max-width: 390px)
		width: 180px
.partners
	overflow-x: hidden
	max-width: 1440px
	@media (max-width: 1240px)
		width: 100vw
.home__partners
	overflow-x: hidden
	display: flex
	flex-direction: column
	align-items: flex-start
	max-width: 1440px
	padding: 0 80px
	box-sizing: border-box
	margin-top: -50px
	@media (max-width: 1440px)
		padding: 0 60px
	@media (max-width: 1024px)
		padding: 0 40px
		margin-top: 0px
	@media (max-width: 559px)
		margin-top: 15px
	@media (max-width: 430px)
		padding: 0 20px
	@media (max-width: 390px)
		padding: 0 10px
	&-grid
		display: flex
		flex-direction: column
		overflow-x: hidden
		max-width: 1240px
		row-gap: 25px
		@media (max-width: 1240px)
			max-width: 86vw
			row-gap: 20px
	&-up, &-down
		display: flex
		column-gap: 25px
		@media (max-width: 1240px)
			column-gap: 20px
		@media (max-width: 430px)
			column-gap: 15px
	&-card
		padding: 10px
		border: 0.68px solid rgba(216, 211, 207, 0.40)
		border-radius: 7px
		@media (max-width: 430px)
			border-radius: 5px
			padding: 4px
		img
			filter: invert(35%)
			@media (max-width: 1024px)
				width: 140px
			@media (max-width: 430px)
				width: 100px
	&-card:hover
		background: rgba(255, 255, 255, 0.90)
		img
			filter: invert(0%)
			transform: scale(1.1)
			transition-duration: 0.2s
.home__partners-up
	max-width: 100%
	justify-content: flex-end
	animation-duration: 15s
	animation-name: slide-right
	animation-iteration-count: infinite
	animation-timing-function: linear
	margin-right: 0px
	@media (max-width: 1240px)
		animation-duration: 10s
	@media (max-width: 1040px)
		animation-duration: 15s
@keyframes slide-right
	0%
		transform: translateX(0)
	100%
		transform: translateX(615px)
@media (max-width: 1240px)
	@keyframes slide-right
		0%
			transform: translateX(0)
		100%
			transform: translateX(640px)
@media (max-width: 430px)
	@keyframes slide-right
		0%
			transform: translateX(0)
		100%
			transform: translateX(680px)
.home__partners-down
	max-width: 100%
	justify-content: flex-start
	animation-duration: 15s
	animation-name: slide-left
	animation-iteration-count: infinite
	animation-timing-function: linear
	@media (max-width: 1240px)
		animation-duration: 10s
	@media (max-width: 1040px)
		animation-duration: 15s
@keyframes slide-left
	0%
		transform: translateX(0)
	100%
		transform: translateX(-615px)
@media (max-width: 1240px)
	@keyframes slide-left
		0%
			transform: translateX(0)
		100%
			transform: translateX(-640px)
@media (max-width: 430px)
	@keyframes slide-left
		0%
			transform: translateX(0)
		100%
			transform: translateX(-680px)
.home__quiz
	position: relative
	display: flex
	flex-direction: column
	max-width: 1440px
	margin: 120px 80px 0
	border: 1px solid transparent
	background: linear-gradient(60deg, #F5CB5C, #F36F28)
	border-radius: 30px
	box-shadow: inset 0px 0px 0px 100vw $black
	border-image-slice: 1
	overflow: hidden
	@media (max-width: 1440px)
		margin: 0 60px
	@media (max-width: 1024px)
		margin: 0 40px
	@media (max-width: 559px)
		margin-top: 15px
		border-radius: 20px
	@media (max-width: 430px)
		margin: 0 20px
	@media (max-width: 390px)
		margin: 50px 10px 30px
		border-radius: 15px
	@media (max-width: 320px)
		margin: 50px 10px 20px
	&-grid
		display: flex
		flex-direction: column
		align-items: center
		padding: 90px 140px
		gap: 3em
		max-width: 950px
		@media (max-width: 744px)
			padding: 50px 80px
		@media (max-width: 559px)
			gap: 2em
			padding: 40px 30px
		@media (max-width: 390px)
			width: 90vw
		@media (max-width: 345px)
			padding: 40px 20px
	&-title
		color: $orange
		font-size: 38px
		font-family: Bauhaus
		text-transform: uppercase
		@media (max-width: 1024px)
			font-size: 30px
		@media (max-width: 744px)
			font-size: 26px
		@media (max-width: 559px)
			font-size: 20px
		@media (max-width: 345px)
			font-size: 18px
	p
		color: $bege
		text-align: center
		font-size: 26px
		line-height: 36px
		@media (max-width: 1024px)
			font-size: 18px
			line-height: 28px
		@media (max-width: 744px)
			font-size: 16px
			line-height: 26px
			br
				display: none
		@media (max-width: 559px)
			font-size: 14px
	a
		background: $orange
		z-index: 10
	&-bg
		top: -10%
		left: 0%
		position: absolute
		display: flex
		flex-direction: row-reverse
		align-items: center
		@media (max-width: 559px)
			left: -30%
	&-bg1
		position: relative
		left: -10%
		width: 673px
		height: 673px
		border-radius: 773px
		background: rgba(217, 217, 217, 0.05)
		@media (max-width: 744px)
			height: 26em
			width: 26em
			left: -5%
	&-bg2
		position: relative
		width: 526px
		height: 526px
		flex-shrink: 0
		border-radius: 626px
		border: 1px solid rgba(216, 211, 207, 0.20)
		@media (max-width: 744px)
			width: 18em
			height: 18em
.home__privilege
	display: flex
	flex-direction: column
	margin: 0 auto
	max-width: 1440px
	padding: 0 80px
	margin-top: 70px
	@media (max-width: 1440px)
		padding: 0 60px
	@media (max-width: 1024px)
		padding: 0 40px
		margin-top: 0px
	@media (max-width: 559px)
		margin-top: 15px
	@media (max-width: 430px)
		padding: 0 20px
	@media (max-width: 390px)
		padding: 0px 10px 20px
		align-items: center
		margin-top: 0px
	&-grid
		display: flex
		flex-wrap: wrap
		gap: 2vw
		justify-content: space-between
		align-items: center
		@media (max-width: 1040px)
			justify-content: space-around
		@media (max-width: 559px)
			gap: 4vw
	&-card
		display: flex
		align-items: center
		gap: 10px
		padding: 20px
		width: 360px
		height: 150px
		border-radius: 20px
		border: 1px solid $yellow
		background: rgba(36, 36, 35, 0.80)
		box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25), 2px 4px 4px 0px rgba(0, 0, 0, 0.25)
		backdrop-filter: blur(25px)
		@media (max-width: 1300px)
			width: 300px
		@media (max-width: 1200px)
			width: 290px
		@media (max-width: 1150px)
			width: 270px
		@media (max-width: 1024px)
			border: 0.5px solid $yellow
			font-size: 14px
			width: 28vw
			height: 130px
			padding: 10px 20px
			border-radius: 10px
			img
				width: 86px
		@media (max-width: 840px)
			width: 40vw
		@media (max-width: 559px)
			width: 86vw
			height: 100px
			img
				width: 76px
		@media (max-width: 390px)
			width: 90vw
.contact__form
	display: flex
	flex-direction: column
	align-items: center
	max-width: 1440px
	padding: 0 80px
	margin: 70px 0 40px
	@media (max-width: 1440px)
		padding: 0 60px
	@media (max-width: 1024px)
		padding: 0 40px
		margin: 40px 0 20px
	@media (max-width: 559px)
		margin-top: 15px
	@media (max-width: 430px)
		padding: 0 20px
	@media (max-width: 390px)
		padding: 0 10px
	&-block
		border-radius: 15px
		width: 950px
		padding: 60px 80px
		border: 3px solid $mdgrey
		background: $black
		@media (max-width: 1024px)
			width: 90vw
			padding: 40px
			border-radius: 10px
		@media (max-width: 430px)
			width: 90vw
			padding: 30px 20px
	&-title
		font-size: 32px
		font-family: Roboto
		font-weight: 500
		@media (max-width: 1024px)
			font-size: 26px
		@media (max-width: 430px)
			font-size: 22px
		@media (max-width: 390px)
			text-align: center
	&-subtitle
		color: $bege
		font-size: 16px
		line-height: 22px
		font-family: Roboto
		font-weight: 300
		margin: 30px 0px
		@media (max-width: 1024px)
			br
				display: none
		@media (max-width: 559px)
			font-size: 14px
			margin: 20px 0
		@media (max-width: 390px)
			text-align: center
	&-container
		color: $bege
		font-size: 16px
		font-family: Roboto
		overflow: hidden
		@media (max-width: 559px)
			font-size: 14px
	&-grid
		width: 101%
		display: flex
		justify-content: space-between
		@media (max-width: 559px)
			flex-direction: column
			gap: 10px
#contact-name, #contact-tel
	color: $bege
	border: none
	width: 48%
	height: 70px
	background: #333533
	padding: 10px 20px
	@media (max-width: 1024px)
		height: 60px
	@media (max-width: 559px)
		height: 50px
		width: 100%
	@media (max-width: 390px)
		text-align: center
#subject
	display: flex
	color: $bege
	border: none
	background: #333533
	padding: 10px 20px
	padding-top: 20px
	min-height: 150px
	max-height: 230px
	max-width: 100%
	min-width: 100%
	@media (max-width: 390px)
		text-align: center
#subject:active
	border: none
form
	display: flex
	row-gap: 28px
	flex-direction: column
	align-items: stretch
	@media (max-width: 559px)
		row-gap: 10px
	@media (max-width: 390px)
		align-items: center
.button__contact
	background: $yellow
.button__contact:hover
	cursor: pointer
footer
	background: url('../assets/bg/footer-bg.png')
	background-size: cover
	background-repeat: no-repeat
	width: 100vw
.footer__block
	margin: 60px auto 0px
	display: flex
	justify-content: space-between
	max-width: 1440px
	padding: 0 80px
	flex-wrap: wrap
	gap: 2vw
	@media (max-width: 1440px)
		padding: 0 60px
	@media (max-width: 1024px)
		padding: 0 40px
		gap: 4vw
	@media (max-width: 559px)
		margin-top: 15px
		column-gap: 3vh
		row-gap: 0px
	@media (max-width: 430px)
		justify-content: center
		padding: 0 20px
		row-gap: 3vh
	@media (max-width: 390px)
		margin-top: 30px
		padding: 0 10px
	&-copyright
		margin: 0 auto
		max-width: 1440px
		padding: 0 80px 30px
		@media (max-width: 1440px)
			padding: 0 60px
		@media (max-width: 1024px)
			padding: 0 40px
			font-size: 14px
		@media (max-width: 559px)
			margin-top: 15px
		@media (max-width: 430px)
			padding: 0 20px
			text-align: center
			line-height: 20px
		@media (max-width: 390px)
			padding: 0 10px
	&-button
		background: $black
		color: $bege
		border: 1px solid $bege
		font-weight: 100
		font-style: unset
	&-row
		display: flex
		flex-direction: column
		gap: 28px
		@media (max-width: 430px)
			align-items: center
		ul
			display: flex
			flex-direction: column
			gap: 15px
			@media (max-width: 430px)
				align-items: center
			li
				@media (max-width: 1024px)
					font-size: 14px
			li:hover
				transform: scale(1.05)
				a:hover
					color: $yellow
	&-contacts
		width: 150px
		display: flex
		justify-content: space-between
	&-contacts
		img
			@media (max-width: 1024px)
				width: 24px
		a:hover
			transform: scale(1.15)
.footer__block-text
	color: $yellow
	font-size: 16px
	font-family: Roboto
	font-weight: 500
	text-transform: uppercase
	@media (max-width: 1024px)
		font-size: 14px
.footer__block-text:hover
	cursor: default
	transform: none!important
.hr-footer
	margin: 60px 0 0px
	width: 100vw
	height: 0px
	opacity: 0.5
	border-image: linear-gradient(238.23deg, #F5CB5C 6.01%, #EB5E28 98.62%)
	border-image-slice: 0.5
	@media (max-width: 390px)
		margin: 30px 0 0px
.hr-copyright
	margin: 30px 0px
	border-image: linear-gradient(238.23deg, #EB5E28 6.01%, #F5CB5C 98.62%)
	border-image-slice: 0.5
	height: 0px
	opacity: 0.4
	@media (max-width: 390px)
		margin: 30px 0
#footer-contacts
	@media (max-width: 1024px)
		order: 2
#footer-navigation
	@media (max-width: 1024px)
		order: 1
	@media (max-width: 430px)
		display: none
#footer-services
	@media (max-width: 740px)
		display: none
#toTop
	position: fixed
	display: inline-block
	bottom: 30px
	right: -40px
	width: 70px
	height: 70px
	z-index: 1000
	cursor: pointer
	opacity: 0
	visibility: hidden
	transition: all .3s ease-in-out
	@media (max-width: 1040px)
		width: 50px
		height: 50px
		bottom: 40px
	@media (max-width: 740px)
		height: 30px
		width: 30px
		right: -40px
		bottom: 50px
#toTop svg
	position: relative
	top: 12px
	right: -1px
	fill: #fff
	transition: all .3s ease-in-out
#toTop.show
	opacity: 1
	visibility: visible
	right: calc(4%)
	@media (max-width: 740px)
		right: calc(15%)


// contacts page
