$white: #FBFEFB
$mdgrey: #333533
$black: #242423
$yellow: #F5CB5C
$orange: #F36F28
$bege: #D8D3CF

*
   box-sizing: border-box
   margin: 0
   padding: 0
body
   background-color: $black
   width: 100vw
   color: $bege
   font-family: Roboto
   overflow-x: hidden
